## **Introdução a Pandas**

- [Pandas](https://pandas.pydata.org/) é uma ferramenta *open source* contruída em cima do python, para manipular com dados de forma rápida, poderosa, flexível e fácil.

- Seu nome vem de uma brincadeira com a frase *Python data analysis*.

- Esse projeto foi criado por um pesquisador (Wes McKinney) enquanto ele trabalhava na [AQR Capital](https://www.aqr.com/) (Uma empresa de investimentos).


- [Pandas vs Outras ferramentas](https://pandas.pydata.org/docs/getting_started/comparison/index.html).

- [Documentação - versão - 1.3.4 em PDF](https://pandas.pydata.org/pandas-docs/version/1.3.4/pandas.pdf).

Exemplo por Wes McKinney de como utilizar a ferramenta/biblioteca/projeto/API: [Vídeo](https://www.youtube.com/watch?v=_T8LGqJtuGc)

In [1]:
import pandas as pd
from IPython.display import display

# **Objeto DataFrame**

<center><img src="figures/dataframe.png" align="center" width=220/></center>

In [5]:
tabela = [[2,2,3],
           [7,5,1],
           [9,3,4]]

df = pd.DataFrame(tabela)
display(df)

   0  1  2
0  2  2  3
1  7  5  1
2  9  3  4

In [8]:
tabela = {"limao":[1,2,3], 
          "feijao":[5,8,0],
          "batata":[7,6,9]}

df = pd.DataFrame(tabela)
display(df)

   limao  feijao  batata
0      1       5       7
1      2       8       6
2      3       0       9

In [10]:
tabela = [[2,2,3],
           [7,5,1],
           [9,3,4]]

df = pd.DataFrame(tabela, columns=["a", "b", "c"], index=["00", "01", "10"])
display(df)

    a  b  c
00  2  2  3
01  7  5  1
10  9  3  4

# **Objeto Series**

<center><img src="figures/series.png" align="center" width=100/></center>

<font color="orange">**LEMBRAR!**</font>
> - Para importar o pacote utilize - import pandas as pd
> - Uma tabela de dados é denominada DataFrame
>  - Cada coluna em um DataFrame é denominada Series
>  - DataFrame e Series são os principais **OBJETOS** da biblioteca.

## **Read and write formats**

<center><img src="figures/read_dataframe_formats.png" align="center" width=550/></center>

Kaggle dataset: [Open food Facts](https://www.kaggle.com/openfoodfacts/world-food-facts/data)

## **Explicando os tipos de dados**

## **Descrevendo o DataFrame**

- head
- tail
- info
- astype
- describe

## **Estatisticas**

- sum
- mean
- count
- value_counts

## **Selecionando e Filtrando**

## **Trabalhando com dados faltantes**

- ffil
- dropna
- asfreq
- map 
- replace

## **Groupby**

- apply
- agg
- applymap

## **Merge** 

- merge
- pivot
- melt
- stack
- unstack

## **Extra**

- .str
- .dt

## **Onde posso aprender mais?**



[Comnuidade Pandas](https://pandas.pydata.org/docs/getting_started/tutorials.html). Aqui tem livros, palestras, tutoriais entre outros.

Livro indicado pela própria biblioteca:
<center><img src="figures/livro_pandas.png" align="center" width=100/></center>

Youtube:

- [Pandas by Matt Harrison](https://www.youtube.com/watch?v=UURvPeczxJI&t=3395s) - 19 de agosto de 2021